{% set container_loopback = branch_supernet | network_offset('0.0.0.0/26') %}
{% set container_l3link = branch_supernet | network_offset('0.0.0.64/26') %}
{% set l3link = {} %}
{% for link in range(4) %}
{%   set link_offset = '0.0.0.' ~ (link * 4) ~ '/30' %}
{%   set link_network = container_l3link | network_offset(link_offset) %}
{%   set _ = l3link.update({link: link_network}) %}
{% endfor %}
{% set lan_data = branch_supernet | network_offset('0.0.1.0/24') %}
{% set lan_voice = branch_supernet | network_offset('0.0.2.0/24') %}

---
locations:
  - "!create_or_update:name": "{{ site_name }}"
    status__name: "Active"
    location_type__name: "Site"
    parent__name: "{{ region.name }}"
    tenant__name: "Autocon3"
    vlans:
      - "!create_or_update:vid": 110
        name: "Branch:Data"
        status__name: "Active"
        role__name: "Branch:LAN"
        tenant__name: "Autocon3"
        "!ref": "{{ site_name }}-vlan110"
      - "!create_or_update:vid": 120
        name: "Branch:Voice"
        status__name: "Active"
        role__name: "Branch:LAN"
        tenant__name: "Autocon3"
        "!ref": "{{ site_name }}-vlan120"
    prefixes:
      - "!create_or_update:prefix": "{{ branch_supernet }}"
        type: "container"
        role__name: "Branch:Supernet"
        status__name: "Active"
        tenant__name: "Autocon3"
      - "!create_or_update:prefix": "{{ container_loopback }}"
        type: "pool"
        role__name: "Branch:Loopback"
        status__name: "Active"
        tenant__name: "Autocon3"
      - "!create_or_update:prefix": "{{ container_l3link }}"
        type: "container"
        role__name: "Branch:L3Link"
        status__name: "Active"
        tenant__name: "Autocon3"
      {% for link in range(4) %}
      - "!create_or_update:prefix": "{{ l3link[link] }}"
        type: "network"
        role__name: "Branch:L3Link"
        status__name: "Active"
        tenant__name: "Autocon3"
      {% endfor %}
      - "!create_or_update:prefix": "{{ lan_data }}"
        description: "Data LAN"
        type: "network"
        role__name: "Branch:LAN"
        status__name: "Active"
        tenant__name: "Autocon3"
        vlan: "!ref:{{ site_name }}-vlan110"
      - "!create_or_update:prefix": "{{ lan_voice }}"
        description: "Voice LAN"
        type: "network"
        role__name: "Branch:LAN"
        status__name: "Active"
        tenant__name: "Autocon3"
        vlan: "!ref:{{ site_name }}-vlan120"

    racks:
      - "!create_or_update:name": "{{ site_name }}-rack1"
        status__name: "Active"
        tenant__name: "Autocon3"

    clusters:
      - "!create_or_update:name": "{{ site_name }}-cluster1"
        cluster_type__name: "Generic"
        tenant__name: "Autocon3"
        "!ref": "{{ site_name }}-cluster1"

    devices:
    # ----- ROUTERS -----
    {% for rtr in range(2) %}
      - "!create_or_update:name": "{{ site_name }}-rtr{{ rtr + 1 }}"
        status__name: "Active"
        device_type__model: "Dummy"
        role__name: "Router"
        platform__name: "Arista EOS"
        tenant__name: "Autocon3"
        rack__name: "{{ site_name }}-rack1"
        face: "front"
        position: "{{ rtr + 10 }}"
        serial: "ABC000{{ rtr + 1 }}"
        asset_tag: "{{ site_name }}-rtr{{ rtr + 1 }}"
        software_version__version: "4.32.1F"
        secrets_group__name: "DEVICE_CREDENTIALS"
        "!ref": "{{ site_name }}-rtr{{ rtr + 1 }}"
        interfaces:
        {% for port in range(2) %}
          {% set link = 2 * rtr + port %}
          - "!create_or_update:name": "eth{{ port + 1 }}"
            type: "10gbase-t"
            description: "Downlink to {{ site_name }}-sw{{ port + 1 }}"
            status__name: "Active"
            role__name: "Branch:L3Link"
            "!ref": "{{ site_name }}-rtr{{ rtr + 1 }}:eth{{ port + 1 }}"
        {% endfor %}
          - "!create_or_update:name": "eth8"
            type: "10gbase-t"
            description: "Uplink to backbone"
            status__name: "Active"
          - "!create_or_update:name": "Loopback0"
            type: "virtual"
            description: "Uplink to backbone"
            status__name: "Active"
            role__name: "Branch:Loopback"
            "!ref": "{{ site_name }}-rtr{{ rtr + 1 }}:Loopback0"
    {% endfor %}
    # ----- Switches -----
    {% for sw in range(2) %}
      - "!create_or_update:name": "{{ site_name }}-sw{{ sw + 1 }}"
        status__name: "Active"
        device_type__model: "Dummy"
        role__name: "Switch"
        platform__name: "Arista EOS"
        tenant__name: "Autocon3"
        rack__name: "{{ site_name }}-rack1"
        face: "front"
        position: "{{ sw + 40 }}"
        serial: "ABC000{{ sw + 1 }}"
        asset_tag: "{{ site_name }}-sw{{ sw + 1 }}"
        software_version__version: "4.32.1F"
        secrets_group__name: "DEVICE_CREDENTIALS"
        "!ref": "{{ site_name }}-sw{{ sw + 1 }}"
        interfaces:
        {% for port in range(2) %}
          - "!create_or_update:name": "eth{{ port + 1 }}"
            type: "10gbase-t"
            description: "Uplink to rtr{{ port + 1 }}"
            status__name: "Active"
            role__name: "Branch:L3Link"
            "!ref": "{{ site_name }}-sw{{ sw + 1 }}:eth{{ port + 1 }}"
            "!connect_cable":
              to: "!ref:{{ site_name }}-rtr{{ port + 1 }}:eth{{ sw + 1 }}"
              status__name: "Connected"
        {% endfor %}
        {% for port in range(10) %}
          - "!create_or_update:name": "eth{{ port + 3 }}"
            type: "10gbase-t"
            status__name: "Active"
            mode: "tagged"
            tagged_vlans:
              - "!ref:{{ site_name }}-vlan110"
              - "!ref:{{ site_name }}-vlan120"
            "!ref": "{{ site_name }}-sw{{ sw + 1 }}:eth{{ port + 3 }}"
        {% endfor %}
          - "!create_or_update:name": "Loopback0"
            type: "virtual"
            description: "Uplink to backbone"
            status__name: "Active"
            role__name: "Branch:Loopback"
            "!ref": "{{ site_name }}-sw{{ sw + 1 }}:Loopback0"
          - "!create_or_update:name": "SVI110"
            type: "virtual"
            description: "SVI for VLAN 110"
            status__name: "Active"
            role__name: "Branch:LAN"
            mode: "access"
            untagged_vlan: "!ref:{{ site_name }}-vlan110"
            "!ref": "{{ site_name }}-sw{{ sw + 1 }}:SVI110"
          - "!create_or_update:name": "SVI120"
            type: "virtual"
            description: "SVI for VLAN 120"
            status__name: "Active"
            role__name: "Branch:LAN"
            mode: "access"
            untagged_vlan: "!ref:{{ site_name }}-vlan120"
            "!ref": "{{ site_name }}-sw{{ sw + 1 }}:SVI120"
    {% endfor %}
    # ----- Servers -----
    {% for srv in range(8) %}
      - "!create_or_update:name": "{{ site_name }}-srv{{ srv + 1 }}"
        status__name: "Active"
        device_type__model: "HP Dummy Server"
        role__name: "Server"
        platform__name: "Linux"
        tenant__name: "Autocon3"
        cluster__name: "{{ site_name }}-cluster1"
        rack__name: "{{ site_name }}-rack1"
        face: "front"
        position: "{{ srv + 20 }}"
        serial: "ABC000{{ srv + 1 }}"
        asset_tag: "{{ site_name }}-srv{{ srv + 1 }}"
        secrets_group__name: "DEVICE_CREDENTIALS"
        "!ref": "{{ site_name }}-srv{{ srv + 1 }}"
        interfaces:
        {% for port in range(2) %}
          - "!create_or_update:name": "eth{{ port + 1 }}"
            type: "10gbase-t"
            status__name: "Active"
            "!connect_cable":
              to: "!ref:{{ site_name }}-sw{{ port + 1 }}:eth{{ srv + 3 }}"
              status__name: "Connected"
            "!ref": "{{ site_name }}-srv{{ srv + 1 }}:eth{{ port + 1 }}"
        {% endfor %}
    {% endfor %}
    # ----- Storage -----
    {% for stg in range(1) %}
      - "!create_or_update:name": "{{ site_name }}-stg{{ stg + 1 }}"
        status__name: "Active"
        device_type__model: "HP Storage"
        role__name: "Storage Array"
        platform__name: "Linux"
        tenant__name: "Autocon3"
        rack__name: "{{ site_name }}-rack1"
        face: "front"
        position: "{{ stg + 1 }}"
        serial: "ABC000{{ stg + 1 }}"
        asset_tag: "{{ site_name }}-stg{{ stg + 1 }}"
        secrets_group__name: "DEVICE_CREDENTIALS"
        "!ref": "{{ site_name }}-stg{{ stg + 1 }}"
        interfaces:
        {% for port in range(2) %}
          - "!create_or_update:name": "eth{{ port + 1 }}"
            type: "10gbase-t"
            status__name: "Active"
            "!connect_cable":
              to: "!ref:{{ site_name }}-sw{{ port + 1 }}:eth{{ stg + 10 }}"
              status__name: "Connected"
        {% endfor %}
    {% endfor %}


ip_addresses:
  # ----- LOOPBACKS -----
  {% for ip in range(4) %}
    - "!create_or_update:address": "{{ container_loopback | network_offset('0.0.0.' ~ ip ~ '/32') }}"
      status__name: "Active"
      tenant__name: "Autocon3"
      role__name: "Loopback"
      "!ref": "loopback-{{ ip }}"
  {% endfor %}
  # ----- L3LINKS -----
  {% for link in range(4) %}
    - "!create_or_update:address": "{{ l3link[link] | network_offset('0.0.0.1/30') }}"
      status__name: "Active"
      tenant__name: "Autocon3"
      role__name: "Branch:L3Link"
      "!ref": "link-{{ link }}-rtr"
    - "!create_or_update:address": "{{ l3link[link] | network_offset('0.0.0.2/30') }}"
      status__name: "Active"
      tenant__name: "Autocon3"
      role__name: "Branch:L3Link"
      "!ref": "link-{{ link }}-sw"
  {% endfor %}
  # ------ LAN -----
    - "!create_or_update:address": "{{ lan_data | network_offset('0.0.0.1/24') }}"
      status__name: "Active"
      tenant__name: "Autocon3"
      "!ref": "vip01"
    - "!create_or_update:address": "{{ lan_data | network_offset('0.0.0.2/24') }}"
      status__name: "Active"
      tenant__name: "Autocon3"
      "!ref": "svi_data01"
    - "!create_or_update:address": "{{ lan_data | network_offset('0.0.0.3/24') }}"
      status__name: "Active"
      tenant__name: "Autocon3"
      "!ref": "svi_data02"
    - "!create_or_update:address": "{{ lan_data | network_offset('0.0.0.11/24') }}"
      status__name: "Active"
      tenant__name: "Autocon3"
      "!ref": "lan_data01"
    - "!create_or_update:address": "{{ lan_data | network_offset('0.0.0.12/24') }}"
      status__name: "Active"
      tenant__name: "Autocon3"
      "!ref": "lan_data02"
  # ----- SERVERS -----
  {% for srv in range(8) %}
    - "!create_or_update:address": "{{ lan_data | network_offset('0.0.0.' ~ (srv + 20) ~ '/24') }}"
      status__name: "Active"
      tenant__name: "Autocon3"
      "!ref": "lan_data2{{ srv + 1 }}"
  {% endfor %}

circuits:
  {% for i in range(2) %}
  - "!create_or_update:cid": "{{ site_name }}-CKT-{{ i + 1 }}"
    status__name: "Active"
    provider__name: "NTC"
    circuit_type__name: "Ethernet"
    tenant__name: "Autocon3"
    circuit_terminations:
      - "!create_or_update:term_side": "A"
        location__name: "{{ site_name }}"
      - "!create_or_update:term_side": "Z"
        provider_network__name: "NTC-WAN"
  {% endfor %}

dynamic_groups:
  - "!create_or_update:name": "{{ site_name }}"
    "description": "Dynamic Group for the devices in location {{ site_name }}"
    tenant__name: "Autocon3"
    content_type:
      "!get:model": "device"
      "!get:app_label": "dcim"
    filter: {"location": ["{{ site_name }}"], "platform": ["Arista EOS"]} 

{# {% if lab_topology %}
containerlab_topologies:
  - "!create_or_update:name": "{{ site_name }}"
    description: "Containerlab topology for {{ site_name }}"
    dynamic_group__name: "{{ site_name }}"
{% endif %} #}

# Add tenants to demo storage allocations
tenants:
  {% for tenant in range(4) %}
  - "!create_or_update:name": "{{ site_name }}-tenant{{ tenant + 1 }}"
    "!ref": "{{ site_name }}-tenant{{ tenant + 1 }}"
  {% endfor %}

storage_allocations:
  {% for sa in range(4) %}
  - "!create_or_update:name": "{{ site_name }}-block{{ sa + 1 }}"
    storage_protocol__name: "iSCSI"
    capacity: 100
    tenant: "!ref:{{ site_name }}-tenant{{ sa + 1 }}"
    cluster: "!ref:{{ site_name }}-cluster1"
    "!ref": "{{ site_name }}-block{{ sa + 1 }}"
  - "!create_or_update:name": "{{ site_name }}-file{{ sa + 1 }}"
    storage_protocol__name: "NFSv4"
    capacity: 100
    tenant: "!ref:{{ site_name }}-tenant{{ sa + 1 }}"
    cluster: "!ref:{{ site_name }}-cluster1"
    "!ref": "{{ site_name }}-file{{ sa + 1 }}"
  - "!create_or_update:name": "{{ site_name }}-object{{ sa + 1 }}"
    storage_protocol__name: "S3"
    capacity: 100
    tenant: "!ref:{{ site_name }}-tenant{{ sa + 1 }}"
    cluster: "!ref:{{ site_name }}-cluster1"
    "!ref": "{{ site_name }}-object{{ sa + 1 }}"
  {% endfor %}

virtual_machines:
  - "!create_or_update:name": "{{ site_name }}-vm01"
    status__name: "Active"
    cluster: "!ref:{{ site_name }}-cluster1"
    tenant: "!ref:{{ site_name }}-tenant1"
    vcpus: 4
    memory: 16000
    disk: 80
    interfaces:
      - "!create_or_update:name": "eth0"
        status__name: "Active"
        "!ref": "vm01intf"
  - "!create_or_update:name": "{{ site_name }}-vm02"
    status__name: "Active"
    cluster: "!ref:{{ site_name }}-cluster1"
    tenant: "!ref:{{ site_name }}-tenant1"
    vcpus: 4
    memory: 16000
    disk: 80
    interfaces:
      - "!create_or_update:name": "eth0"
        status__name: "Active"
        "!ref": "vm02intf"

ip_address_assignments:
# ----- LOOPBACKS -----
  {% for ip in range(2) %}
    - "!create_or_update:ip_address": "!ref:loopback-{{ ip }}"
      "!create_or_update:interface": "!ref:{{ site_name }}-rtr{{ ip + 1 }}:Loopback0"
  {% endfor %}
  {% for ip in range(2) %}
    - "!create_or_update:ip_address": "!ref:loopback-{{ 2 + ip }}"
      "!create_or_update:interface": "!ref:{{ site_name }}-sw{{ ip + 1 }}:Loopback0"
  {% endfor %}
  # ----- L3LINKS -----
  {% for rtr in range(2) %}
  {%   for sw in range(2) %}
  {%     set link = 2 * rtr + sw %}
    - "!create_or_update:ip_address": "!ref:link-{{ link }}-rtr"
      "!create_or_update:interface": "!ref:{{ site_name }}-rtr{{ rtr + 1 }}:eth{{ sw + 1 }}"
    - "!create_or_update:ip_address": "!ref:link-{{ link }}-sw"
      "!create_or_update:interface": "!ref:{{ site_name }}-sw{{ sw + 1 }}:eth{{ rtr + 1 }}"
  {%   endfor %}
  {% endfor %}
    - "!create_or_update:ip_address": "!ref:lan_data01"
      "!create_or_update:vm_interface": "!ref:vm01intf"
    - "!create_or_update:ip_address": "!ref:lan_data02"
      "!create_or_update:vm_interface": "!ref:vm02intf"
    - "!create_or_update:ip_address": "!ref:svi_data01"
      "!create_or_update:interface": "!ref:{{ site_name }}-sw1:SVI110"
    - "!create_or_update:ip_address": "!ref:svi_data02"
      "!create_or_update:interface": "!ref:{{ site_name }}-sw2:SVI110"
  # ----- SERVERS -----
  {% for srv in range(8) %}
    - "!create_or_update:ip_address": "!ref:lan_data2{{ srv + 1 }}"
      "!create_or_update:interface": "!ref:{{ site_name }}-srv{{ srv + 1 }}:eth1"
  {% endfor %}

load_balancer_pools:
  - "!create_or_update:name": "{{ site_name }}-lbpool01"
    load_balancing_algorithm: "round_robin"
    tenant: "!ref:{{ site_name }}-tenant1"
    "!ref": "{{ site_name }}-lbpool01"

load_balancer_pool_members:
  - "!create_or_update:load_balancer_pool": "!ref:{{ site_name }}-lbpool01"
    "!create_or_update:ip_address": "!ref:lan_data01"
    port: 443
    status__name: "Active"
    tenant: "!ref:{{ site_name }}-tenant1"
  - "!create_or_update:load_balancer_pool": "!ref:{{ site_name }}-lbpool01"
    "!create_or_update:ip_address": "!ref:lan_data02"
    port: 443
    status__name: "Active"
    tenant: "!ref:{{ site_name }}-tenant1"

virtual_servers:
  - "!create_or_update:name": "{{ site_name }}-vip01"
    load_balancer_type: "layer4"
    port: 443
    protocol: "https"
    tenant: "!ref:{{ site_name }}-tenant1"
    vip: "!ref:vip01"
    load_balancer_pool: "!ref:{{ site_name }}-lbpool01"
    "!ref": "{{ site_name }}-vip01"

